
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  font-size: 14px;
  background-color: #333;
  height: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 100px;
  margin: 0 60px 0 30px;


}
img {
  width: 77px;
  height: 77px;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100px;
  width: 1160px;
}

li {
  float: left;
  margin-right: 10px;
}
