<div class="hero-container">
  <div class="hero">
    <div class="custom">
      <h1>CUSTOM QC35 WIRELESS HEADPHONES II</h1>
    </div>
    <div class="look">
      <h1>Our sound.</h1>
    </div>
    <div class="look">
      <h1>Your perfect look.</h1>
    </div>
    <div class="parts">
      <h1>5 parts, 26 colors, endless possibilities.</h1>
    </div>
    <div class="">
      <button type="button" name="button">create your own</button>
    </div>
    <div class="">
      {{ dateMessage }}
    </div>
  </div>
</div>
