
<div class="recommended">

  <h1>RECOMMENDED</h1>

  <div class="products-container">

  <div class="product">
    <div class="image">
      <img src="../assets/images/product1.png" alt="product">
    </div>
    <div class="title-link">
      <a href="#">A20 Aviation Headset</a>
    </div>
    <div class="price">
      <small>From $995.95</small>
      <span></span>
    </div>
    <div class="info">
      <p></p>
    </div>
    <div class="info-features">
      <ul>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""><span></span></li>
      </ul>
    </div>
  </div>



  <div class="product">

  </div>
  <div class="product">

  </div>
  <div class="product">

  </div>
</div>
</div>
