
<div class="recommended">

  <h1>RECOMMENDED</h1>

  <div class="products-container">

  <div class="product">
    <div class="image">
      <img src="../assets/images/product1.png" alt="product">
    </div>
    <div class="title-link">
      <a href="#">A20 Aviation Headset</a>
    </div>
    <div class="price">
      <small>From $995.95</small>
    </div>
    <div class="info">
      <small>Around-ear, noise reduction, clear audio, audio/communication interface</small>
    </div>
    <div class="info-features">
      <ul>
        <li><img src="../assets/images/bluetooth.png" alt=""></li>
        <li><img src="../assets/images/noise-cancelling.png" alt=""><small>Noise Cancelling</small></li>
      </ul>
    </div>
  </div>
  <div class="product">
    <div class="image">
      <img src="../assets/images/product2.png" alt="product">
    </div>
    <div class="title-link">
      <a href="#">A20 Aviation Headset</a>
    </div>
    <div class="price">
      <small>From $995.95</small>
    </div>
    <div class="info">
      <small>Around-ear, noise reduction, clear audio, audio/communication interface</small>
    </div>
    <div class="info-features">
      <ul>
        <li><img src="../assets/images/bluetooth.png" alt=""></li>
        <li><img src="../assets/images/noise-cancelling.png" alt=""><small>Noise Cancelling</small></li>
      </ul>
    </div>
  </div>
  <div class="product">
    <div class="image">
      <img src="../assets/images/product3.png" alt="product">
    </div>
    <div class="title-link">
      <a href="#">A20 Aviation Headset</a>
    </div>
    <div class="price">
      <small>From $995.95</small>
    </div>
    <div class="info">
      <small>Around-ear, noise reduction, clear audio, audio/communication interface</small>
    </div>
    <div class="info-features">
      <ul>
        <li><img src="../assets/images/bluetooth.png" alt=""></li>
        <li><img src="../assets/images/noise-cancelling.png" alt=""><small>Noise Cancelling</small></li>
      </ul>
    </div>
  </div>
  <div class="product">
    <div class="image">
      <img src="../assets/images/product4.png" alt="product">
    </div>
    <div class="title-link">
      <a href="#">F1 Model 812 Flexible Array loudspeaker</a>
    </div>
    <div class="price">
      <small>From $995.95</small>
    </div>
    <div class="info">
      <small>Around-ear, noise reduction, clear audio, audio/communication interface</small>
    </div>
    <div class="info-features">
      <ul>
        <li><img src="../assets/images/bluetooth.png" alt=""></li>
        <li><img src="../assets/images/noise-cancelling.png" alt=""><small>Noise Cancelling</small></li>
      </ul>
    </div>
  </div>
</div>
</div>
